__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
*.log
.env
.venv/
env/
venv/
build/
dist/
*.whl
*.gz
node_modules/
datasets/
models/
*.h5
*.pkl
*.sav
*.joblib
*.csv
*.xlsx
.git/
.gitignore
Dockerfile
*.zip
*.rar
