apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: username_docker/soa-gateway:v1
          env:
            - name: RABBITMQ_URL
              value: "amqp://rabbitmq-server"
            - name: JWT_SECRET
              value: "rahasia"

            - name: MAIN_SERVICE_URL
              value: "http://main-service:3001"
            - name: AI_SERVICE_URL
              value: "http://ai-service:5000"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30000
